.stack-work/*
out/*
internal_steps*/*

other/protected areas/data
other/residential_areas/data
other/residential_areas/out

other/histograms/__pycache__

other/__pycache__
other/protected areas/out
data/average_temperature
data/borders
data/cache
data/elevation
data/land_use
data/power_lines
data/protected_areas
data/roads
data/solar_radiation
tests/__pycache__
other/histograms/data
other/results_with_existing/data